body            { font-family: sans-serif; background: #c0c0c0; }

h1, h2          { font-family: sans-serif; margin: 0; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: #fffaf0; }

.top			{ background: #484848; color: white; padding: 0.5em;}
.status			{ background: #ccc; color: gray; padding: 0.5em;}

.foot        	{ text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
